.cardy img {
  width: 100% !important;
  height: 250px !important;
  filter: brightness(80%);
}

.cardy:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 10px !important;
}


.cardy .add-to-wishlist {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  color: white;
  cursor: pointer;
}