.video-box {
  position: relative;
  justify-content: center;
  min-height: 65vh;
  text-align: center;
}
.video-box video {
  filter: brightness(75%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.seamagic-image {
  filter: brightness(70%);
}
.seamagic-title-en {
  bottom: 250px;
  left: 20px;
}
.seamagic-title-ar {
  bottom: 230px;
  right: 20px;
}
.seamagic-description-en {
  font-size: 20px;
  top: 430px;
  left: 20px;
}
.seamagic-description-ar {
  font-size: 20px;
  top: 430px;
  right: 20px;
}
.seamagic-button-en {
  background-color: rgba(225, 225, 225, 0.4);
  font-size: 1.3rem;
  color: white;
  border-radius: 50px;
  padding: 5px 30px;
  transition: 0.5s ease;
  bottom: 70px;
  left: 20px;
}
.seamagic-button-ar {
  background-color: rgba(225, 225, 225, 0.4);
  font-size: 1.3rem;
  color: white;
  border-radius: 50px;
  padding: 5px 30px;
  transition: 0.5s ease;
  bottom: 70px;
  right: 20px;
}
.seamagic-button-en:hover,
.seamagic-button-ar:hover {
  background-color: rgba(225, 225, 225, 0.2);
  color: white;
}

.seamagic-activity {
  background-color: rgba(97, 97, 97, 0.5);

}
