.category-image {
  filter: brightness(75%);  
}
.category-title-en {
  bottom: 120px;
  left: 20px;
  font-size: 1.9rem;
}
.category-title-ar {
  bottom: 120px;
  right: 20px;
}
.category-button-en {
  background-color: rgba(225, 225, 225, 0.4);
  font-size: 1.3rem;
  color: white;
  border-radius: 50px;
  padding: 5px 30px;
  transition: 0.5s ease;
  bottom: 70px;
  left: 20px;
}
.category-button-ar {
  background-color: rgba(225, 225, 225, 0.4);
  font-size: 1.3rem;
  color: white;
  border-radius: 50px;
  padding: 5px 30px;
  transition: 0.5s ease;
  bottom: 70px;
  right: 20px;
}
.category-button-en:hover,
.category-button-ar:hover {
  background-color: rgba(225, 225, 225, 0.2);
  color: white;
}
