.category-image {
  filter: brightness(75%);
}
.swiper-slide .test:hover .category-image {
  transition: 0.3s ease;
  filter: brightness(60%);
}
.category-title-en {
  bottom: 120px;
  left: 20px;
  font-size: 1.9rem;
}
.category-title-ar {
  bottom: 120px;
  right: 20px;
}
.category-button-en {
  background-color: rgba(225, 225, 225, 0.4) !important;
  font-size: 1.1rem !important;
  color: white !important;
  border-radius: 50px !important;
  padding: 5px 30px !important;
  transition: 0.5s ease !important;
  bottom: 70px !important;
  left: 20px !important;
}
.category-button-ar {
  background-color: rgba(225, 225, 225, 0.4) !important;
  font-size: 1.3rem !important;
  color: white !important;
  border-radius: 50px !important;
  padding: 5px 30px !important;
  transition: 0.5s ease !important;
  bottom: 70px !important;
  right: 20px !important;
}
.category-button-en:hover,
.category-button-ar:hover {
  background-color: rgba(225, 225, 225, 0.2) !important;
  color: white;
}
