.navbar-home {
  background-color: #fff;
  transition: 0.5s ease;
}
.navigation {
  transition: 0.5s ease;
  z-index: 999999;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.navbar-home a {
  color: #767676;
}

.top-nav {
  position: relative;
}

.top-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.8s ease;
  height: 2.5rem;
  color: #fff;
}
.navbar-home .top-nav .container {
  color: #767676;
}

.top-nav::after {
  bottom: 0.1rem;
  content: "";
  display: block;
  height: 0.1rem;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: #e6e6e648;
}
.navbar-home .top-nav::after {
  background-color: #dbdbdb;
}

.top-nav p {
  margin: 0;
  font-size: 15px;
  line-height: 1px;
}

.top-nav .change-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav {
  height: 5.5rem;
  align-items: center;
  display: flex;
  transition: height 0.8s ease;
  color: #ffffff;
}

.navbar-home .nav {
  color: #303030;
}

.nav .logo {
  width: 130px;
  flex-grow: 0;
}

.nav .logo img {
  margin-top: -18px;
  width: 100%;
  user-select: none;
}

.nav .logo-en {
  margin-left: -18px;
  margin-right: 3.2rem;
}

.nav .logo-ar {
  margin-right: -18px;
  margin-left: 3.2rem;
}

.nav .nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.nav .nav-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  text-align: center;
  white-space: nowrap;
  word-break: normal;
  color: rgb(255, 255, 255);
  font-size: 17px;
  transition: 0.4s;
  padding: 8px 20px;
}
.navbar-home .nav .nav-link {
  color: rgba(81, 81, 81, 1);
}

.nav .nav-end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.nav-dark .nav-link {
  color: #000;
}

.navbar-home .nav-ico {
  color: #000 !important;
}

.navbar-home .nav-ico:hover {
  transition: 0.3s;
  color: rgb(103, 103, 103) !important;
}

.nav-dark .nav-ico {
  color: #303030 !important;
}

.nav-dark .navbar-home .top-nav .container {
  color: #767676;
}

.nav .nav-end .apply {
  text-decoration: none;
  border-radius: 3.2rem;
  padding: 10px 28px;
  color: #087e8c;
  background-color: #f7f7f7;
  transition: 0.3s;
  font-weight: 600;
}

.dir-en .nav .nav-end .apply {
  margin-left: 15px;
}

.dir-ar .nav .nav-end .apply {
  margin-right: 15px;
}

.nav .nav-end .apply:hover {
  background-color: hsla(0, 0%, 22%, 0.384);
  color: white;
}

.navbar-home .nav .nav-end .apply:hover {
  background-color: hsla(0, 0%, 22%, 0.171);
  color: #087e8c;
}

.nav .nav-ico {
  width: max-content;
  padding: 15px;
}

.nav .nav-link:hover,
.nav-ico:hover {
  transition: 0.3s;
  color: rgb(172, 172, 172);
}

.nav .nav-link.active {
  color: #087e8c;
  position: relative;
}

.nav .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #087e8c transparent;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nav .nav-link:not(.active)::after {
  content: "";
  position: absolute;
  bottom: -55%;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-contaner span {
  display: none;
}

.navbar-contaner .show {
  display: block;
  height: 0.5px;
  width: 100%;
  background-color: #e6e6e6;
}

.dropdown-nav {
  height: 0;
  width: 100%;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  background-color: white;
}

.dropdown-nav.transition {
  transition: height 0.9s ease;
}

.dropdown-nav.visible {
  height: 60vh;
}

.dropdown-nav {
  display: flex;
}

.dropdown-nav .manue {
  width: 44%;
}

.dropdown-show .contnet {
  overflow-y: scroll;
  width: 56%;
}

.manue {
  overflow: auto;
  color: white;
  background-color: #087e8c;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.manue::-webkit-scrollbar {
  display: none;
}

.menu-content {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.manue p {
  margin: 0;
  background-color: #087e8c;
}

.dir-ar .manue p .menu-content {
  padding-right: 14.2916666667vw;
  transition: 0.3s;
}

.dir-en .manue p .menu-content {
  padding-left: 14.2916666667vw;
}

.manue p span {
  display: block;
  width: fit-content;
  color: #fff;
  padding: 1.2rem 0;
  margin: 0;
  font-size: calc(15.5px + 0.22321vw);
  text-transform: capitalize;
  transition: transform 0.3s ease-in-out;
}

.dir-en .manue p span::before {
  background-color: white;
  content: "";
  display: block;
  height: 0.1rem;
  left: -2.3vw;
  position: absolute;
  top: 50%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  width: 1.2rem;
}

.dir-en .manue p span:hover::before {
  transform: scaleX(1);
}

.dir-en .manue p span:hover {
  color: #fff;
  transform: translateX(1.5rem);
}

.dir-ar .manue p span::before {
  background-color: white;
  content: "";
  display: block;
  height: 0.1rem;
  right: -2.5vw;
  position: absolute;
  top: 50%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  width: 1.2rem;
}

.dir-ar .manue p span:hover::before {
  transform: scaleX(-1);
}

.dir-ar .manue p span:hover {
  color: #fff;
  transform: translateX(-1.5rem);
}

.dropdown-nav .contnet {
  padding: 8vh 4.2916vw;
}

.article {
  display: flex;
  gap: 2vw;
}

.article-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2.2rem;
  position: relative;
  width: 22vw;
}

.dir-en a .arrow {
  rotate: 180deg;
  position: relative;
  right: 10px;
  transition: 0.3s;
}

.dir-ar a .arrow {
  position: relative;
  transition: 0.3s;
  rotate: 0deg;
  left: 10px;
}

.dir-ar a:hover .arrow {
  right: unset;
  left: 0px;
}

.dir-en a:hover .arrow {
  right: 0px;
}

.article-card p:nth-child(1) {
  font-size: 13px;
  color: #767676;
  margin-bottom: 5px;
}

.article-card p:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  color: #515151;
  margin-bottom: 2rem;
}

.article-card a,
.activities-header a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #087e8c;
  padding-top: 10px;
  text-decoration: none;
}

.article-card a {
  border-top: 1px solid #e6e6e6;
}

.activities-header {
  padding: 0 0 10px 0 !important;
  align-items: center !important;
  border-bottom: 1px solid #e6e6e6;
}

.activities-header h5 {
  margin-bottom: 0;
}

.see-go {
  padding-bottom: 12vh;
}

.weather-wrapper {
  border: 1px solid #e6e6e6;
  margin-top: 2vw;
  border-radius: 0.5rem;
}

.weather-header {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  color: #767676;
  padding: 12px 40px;
  gap: 8px;
}

.weather-header .form-select {
  outline: none;
  box-shadow: none;
}

.weather-header p {
  margin: 0;
}

.weather-wrapper .weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-info .weather-select {
  flex: 0.45;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

.menu {
  animation: fadeIn 0.3s ease-in-out;
}

.menu--close {
  animation: fadeOut 0.3s ease-in-out;
}

.weather-info {
  padding: 20px;
}

.icon-wrapper {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 5px;
  user-select: none;
  margin-top: -20px;
}

.icon-wrapper img {
  user-select: none;
}

.icon-wrapper .weather-text {
  position: absolute;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
  color: #000;
  font-size: calc(11.71429px + 0.22321vw);
  font-family: Gilroy-SemiBold, Helvetica, Arial, sans-serif !important;
}

.weather-info .main-temp {
  font-size: calc(5.71429px + 1.78571vw);
  font-weight: 700;
}

.dir-ar .weather-info .main-temp {
  border-left: 1px solid #e6e6e6;
  padding-left: 2rem;
}

.dir-en .weather-info .main-temp {
  border-right: 1px solid #e6e6e6;
  padding-right: 2rem;
}

.temp-min-max {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  flex: 0.3;
}

.temp-min-max .temp {
  display: flex;
  align-items: center;
  gap: 8px;
}

.activities-body {
  margin-top: 40px;
}

.activities-card-contianer {
  border-radius: 10px;
  padding: 0 10px !important;
}

.activities-body .activities-card {
  height: 160px;
  border-radius: 10px !important;
  margin-bottom: 20px;
  position: relative;
}

.activities-body .activities-card .shodo {
  border-radius: 11px;
}

.activities-body .activities-card img {
  object-fit: cover;
  height: 100%;
  object-position: 50% 38%;
  border-radius: 10px !important;
}

.activities-body .activities-card:hover img {
  transition: 0.3s;
  filter: brightness(90%);
}

.activities-body .activities-card .activities-ico {
  position: absolute;
  top: 15px;
  left: 25px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  padding: 10px;
  z-index: 555;
}

.activities-body .activities-card h5 {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: #fff;
  font-size: 1.484375vw;
  z-index: 5555;
}

.dropdown-hide .contnet .article-card {
  transition: opacity 0.9s;
  opacity: 0;
  border: none;
  transition: opacity 0.9s;
}

.dropdown-show .contnet .article-card {
  transition: 0.9s;
  opacity: 1;
  transition: 0.9s;
}

.foot-card-wrapper {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.foot-card {
  width: 33.33%;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.08);
  padding: 0;
  position: relative;
}

.foot-card img {
  border-radius: 8px 8px 0 0;
  height: 100%;
}

.foot-card .foot-img {
  height: 125px;
}

.foot-card h5 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #515151;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: visible;
  font-size: 1.24vw;
  margin-top: 20px;
  padding: 0 10px;
  font-weight: 600;
  line-height: 1.3;
  flex: 1;
  margin-bottom: 10vh;
}

.foot-card a {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
  margin-top: 20px;
  justify-content: space-between;
  color: #087e8c;
  padding-top: 10px;
  text-decoration: none;
}

.number-wapper .number-card {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 30%;
  padding: 1.6rem 1.6rem 2.4rem;
  height: 100%;
  gap: 15px;
  align-items: center;
}

.number-wapper .number-card .number-info .number {
  color: #303030;
  flex: 1;
  margin-bottom: 0.2rem;
  font-size: 1.3888888889vw;
  font-weight: 600;
}

.number-wapper .number-card .number-ico {
  fill: #087e8c;
  color: #087e8c;
  font-size: 25px;
  margin: 0;
}

.number-wapper .number-card .number-info .sub-number-info {
  color: #767676;
  font-size: 0.9vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-wrapper {
  display: none;
}

.search-wrapper .input-search {
  display: flex;
  position: relative;
}

.search-wrapper .input-search .ico-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-wrapper .input-search input {
  height: 0px;
  border-radius: 8px;
  padding: 13px 10px;
  font-size: 1.3888888889vw;
  border: none;
  transition: height 0.8s ease;
  box-shadow: none;
  outline: none;
}

.search-wrapper .input-search input::placeholder {
  color: #767676;
}

.nav-search {
  background-color: #1099a8;
}

.nav-search .nav-link,
.nav-search .nav-ico,
.nav-search .top-nav a,
.nav-search .top-nav p {
  color: #ffffff !important;
}

.nav-search .nav .nav-end .apply:hover {
  background-color: rgb(206, 206, 206);
}

.serach-show {
  display: block;
}

.serach-show input {
  transition: height 0.8s ease !important;
  height: 49px !important;
}

.search-dropdown {
  height: 0;
  overflow: hidden;
}

.dir-ar {
  .search-wrapper .input-search input {
    padding-right: 50px;
  }

  .ico-search {
    right: 15px;
  }
}

.dir-en {
  .search-wrapper .input-search input {
    padding-left: 50px;
  }

  .ico-search {
    left: 15px;
  }
}

.search-dropdown-show {
  transition: height 0.9s ease;
  height: 45vh !important;
  background-color: white;
}

.search-dropdown .container {
  display: flex;

  .search-history {
    width: 30%;
    padding: 20px 0;
  }

  .search-recomendation {
    width: 70%;
  }

  .search-history .header p {
    font-size: 14px;
    color: #838383;
    transition: 0.3s;
    cursor: pointer;
  }

  .search-history .header p:hover {
    color: rgb(72, 72, 72);
  }

  .search-history-item {
    padding: 15px;
    transition: 0.3s;
    cursor: pointer;
  }

  .search-history-item:hover {
    background-color: #f7f7f7;
  }

  .search-history-item {
    overflow-y: scroll;
  }

  .search-history-item::-webkit-scrollbar {
    display: none;
  }

  .recomendation-item {
    border-radius: 10px;
    height: 270px;
    position: relative;
  }

  .recomendation-item img {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
  }

  .recomendation-item p {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: white;
    z-index: 4;
  }

  .shodo {
    border-radius: 10px;
  }
}

.dir-en .recomendation-item p {
  left: 10px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  background-color: rgba(16, 153, 168, 0);
  cursor: pointer;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.navbar-home .sign svg path {
  fill: rgba(0, 0, 0, 0.881);
}

.navbar-home .sign:hover svg path {
  transition: 0.3s;
  fill: rgba(0, 0, 0, 0.561);
}

.nav-dark .sign svg path {
  fill: white;
}
