.full-keepexploring-container{
    margin: 100px 0;
}

.keepexploring-container h1{
    margin: 30px -10px;
    font-size: 55px;
}
.keepexploring-container .row{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.keepexploring-container .row .explore-card{
    padding: 0;
    width: 100%;
    height: 300px;
    background-color: #ffc107;
    border-radius: 20px;
    transition: 0.8s ease;
}
.keepexploring-container .row .explore-card:hover{
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 10px ; */
    background-color: #ffd760;

}
.keepexploring-container .row .explore-card .card-title{
    height: 150px;
}
.keepexploring-container .row .explore-card .card-title .img{
    border-radius: 20px 20px 5px 5px;
    width: 100%;
    height: 100%;
}
.keepexploring-container .row .explore-card .card-body {
    padding: 10px 20px;
}
.keepexploring-container .row .explore-card .card-body p{
    font-size: 25px;
    margin-top: 5px;
    height: 40px;
}
.keepexploring-container .row .explore-card .card-footer{
    height: 30%;
    padding: 10px 20px;

}
.keepexploring-container .row .explore-card .card-footer a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.keepexploring-container .row .explore-card .card-footer .icon-en{
    margin-right: -150px;
}
.keepexploring-container .row .explore-card .card-footer .icon-ar{
    margin-left: -150px;
    
}
