.full-usefulnumbers-container{
    margin: 100px 0;
}

.usefulnumbers-container h1{
    margin: 30px -10px;
    font-size: 55px;
}
.usefulnumbers-container .row{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.usefulnumbers-container .row .card{
    padding: 0;
    width: 31%;
    background-color: rgb(232, 238, 238);
}
.usefulnumbers-container .row .card .card-title{
    font-size: 25px;
    width: 100%;
    border-radius: 5px;
    height: 20%;
    padding: 10px 40px;
    margin-bottom: 25px;
    color: black;
    background-color: #ffc107;
}
.usefulnumbers-container .row .card .card-body {
    padding: 10px 40px;
}
.usefulnumbers-container .row .card .card-body p{
    font-size: 21px;
    margin-top: -17px;
}
@media (max-width:1000px) {
    .full-usefulnumbers-container{
        margin: 100px 0 250px 0;
    }
    .usefulnumbers-container .row .card .card-title{
    font-size: 23px;
    width: 100%;
    border-radius: 5px;
    height: 20%;
    padding: 10px 40px;
    margin-bottom: 25px;
    color: black;
    background-color: #ffc107;
}
.usefulnumbers-container .row .card{
    height: 400px;
}
    
}
@media (max-width:800px) {
    .full-usefulnumbers-container{
        margin: 100px 0 700px 0;
    }
    
    .usefulnumbers-container .row .card{
        height: 250px;
    }
    
    .usefulnumbers-container h1{
        margin: 30px 10px;
        font-size: 55px;
    }
    .usefulnumbers-container .row .card{
        padding: 0;  
        width: 90%;
        margin: auto auto 50px auto;
        background-color: rgb(232, 238, 238);
    }
    
}