.det-container {
    position: fixed;
    width: 20vw;
    border-radius: 20px;
    left: 12%;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.24);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    z-index: 40;
    background-color: white;
}
.det-container-en {
    position: fixed;
    width: 20vw;
    border-radius: 20px;
    right: 12%;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.24);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    z-index: 40;
    background-color: white;
}
.help {
    position: absolute;
    width: 20vw;
    border-radius: 20px;
    left: 0;
    top: 20%;
    border: none;
    padding: 10px;
}
.help-en {
    position: absolute;
    width: 20vw;
    border-radius: 20px;
    right: 0;
    top: 20%;
    border: none;
    padding: 10px;
}
.help .btn {
    width: 90%;
}
.help-en .btn {
    width: 90%;
}
.det-container .btn {
    width: 90%;
    background-color: #087e8c;
}
.det-container-en .btn {
    width: 90%;
    background-color: #087e8c;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    font-size: 16px;
}

.container {
    position: relative;
}

.grid-container-ar {
    direction: ltr;
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.grid-container-en {
    direction: rtl;
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.grid-item1 {
    background-color: black;
    grid-column-start: 5;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transform: rotate(90);
}

.container .form .form-control {
    width: 50vw;
    margin: 0 0 0 5px;
}
.container .form .btn {
    background-color: #087e8c;
}

.place-card {
    border-radius: 10px;
}
