.sociallinks-container a div {
  padding: 12px 12px 12px 13px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.send-message-button {
  background-color: #087e8c;
}

.send-message-button:hover {
  background-color: #33a1ad;
}

.image-container {
  height: 70vh;
  position: relative;
}
.image-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important ;
  filter: brightness(0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-size: cover;
  /* position: relative; */
}

.image-text-en {
  position: absolute;
  bottom: 20%;
  left: 15%;
  color: white;
  font-size: 80px;
  font-weight: 700;
}

.image-text-ar {
  position: absolute;
  bottom: 20%;
  right: 300px;
  color: white;
  font-size: 80px;
  font-weight: 700;
}

.contactus-container input,select{
  height: 45px;
}